ion-content {
    --background: var(--ion-color-main);
    --color: var(--ion-color-primary-tint);
    --padding-top: 20px;
}

ion-item{
    
    font-size: 14px;
    --background: var(--ion-color-main);
    --color: var(--ion-color-primary-contrastr);

    ion-icon {
        color: var(--ion-color-primary-tint);
    }

    &.active {
        color: var(--ion-color-warning);
        
        ion-icon {
            color: var(--ion-color-warning);
        }
    }
}
